<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
<head>
    {{#if baseUrl}}
    <base href="{{baseUrl}}"/>
    {{/if}}
    <link rel="icon"
          type="image/png"
          href="{{pathPrefix}}favico.png">
    <meta charset="utf-8">
    <title>Medblocks App</title>
    <link rel="stylesheet" href="{{pathPrefix}}style.css">
</head>
<body class="h-full">
{{{body}}}
</body>
</html>
