<div class="auth">
    <div class="container" id="consent">
        {{> icon_logo}}
       
        <form action="{{action}}" method="POST">
            <p style="margin-bottom: 15px">Please select a Patient to continue :</p>

            <input name="challenge" type="hidden" value={{challenge}} />
            <input name="_csrf" type="hidden" value={{csrfToken}} />
            <input name="launch" type="hidden" value={{launch}} />

            {{!-- <div style="margin-bottom: 15px; margin-top: 8px">Patients</div> --}}

             <div style="margin-bottom: 5px">
                <input style="display: inline-block; margin-right: 3px" type="checkbox" id="744d439a-d5c0-40f5-832e-a757492ba47c" value="744d439a-d5c0-40f5-832e-a757492ba47c"
                    name="patient" />
                <div style="display: inline-block">Zia Uddin Ahammed</div>
            </div>
             <div style="margin-bottom: 5px">
                <input style="display: inline-block; margin-right: 3px" type="checkbox" id="1fefdbab-10f0-40ff-adaa-62ffccbda356" value="1fefdbab-10f0-40ff-adaa-62ffccbda356"
                    name="patient" />
                <div style="display: inline-block">Kopal Pora Patient</div>
            </div>
            <Button type="submit" id="accept" name="submit" value="Allow access">Submit</Button>
        </form>
    </div>
</div>