.auth {
    min-height: 100vh;
    color: var(--primary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--base-white);
   
}

.auth #login    {
    border: 1px black solid;
    border-radius: 10px;
    padding:40px 80px 60px;
}

.auth #consent{
    border: 1px black solid;
    border-radius: 10px;
    padding:40px 80px 60px;
    color:var(--base-black)
}

.auth .subheading {
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--base-text);
}

.auth a {
    color: var(--base-black);
    transition: color 0.1s ease-in-out;
}

.auth a:hover {
    color: var(--base-text);
}

.auth .alternative-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
